-- MySQL dump 10.13  Distrib 8.0.30, for Win64 (x86_64)
--
-- Host: localhost    Database: laravel
-- ------------------------------------------------------
-- Server version	8.0.30

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `barang`
--

DROP TABLE IF EXISTS `barang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `barang` (
  `id_barang` bigint unsigned NOT NULL AUTO_INCREMENT,
  `kode_barang` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nama_barang` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `satuan` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `stok_min` int NOT NULL DEFAULT '5',
  `status` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `stok` int NOT NULL DEFAULT '0',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_barang`),
  UNIQUE KEY `barang_nama_barang_unique` (`nama_barang`),
  UNIQUE KEY `barang_kode_barang_unique` (`kode_barang`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `barang`
--

LOCK TABLES `barang` WRITE;
/*!40000 ALTER TABLE `barang` DISABLE KEYS */;
INSERT INTO `barang` VALUES (1,'SE685','Sedotan','pack',5,'low',100,'2026-05-03 09:44:56','2026-05-18 03:07:58'),(2,'CU475','Cup','pack',5,'low',-392,'2026-05-03 09:44:56','2026-05-21 01:54:26'),(3,'SU742','Sumpit','pack',5,'low',101,'2026-05-03 09:44:56','2026-05-18 03:07:58'),(4,'PI978','Piring','pcs',5,'low',100,'2026-05-03 09:44:56','2026-05-18 03:07:58'),(5,'GE227','Gelas','pcs',5,'low',0,'2026-05-03 09:44:56','2026-05-18 03:07:58'),(6,'MA942','Mangkok','pcs',5,'low',21,'2026-05-15 18:34:50','2026-05-21 00:50:28');
/*!40000 ALTER TABLE `barang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `barang_keluar`
--

DROP TABLE IF EXISTS `barang_keluar`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `barang_keluar` (
  `id_barang_keluar` bigint unsigned NOT NULL AUTO_INCREMENT,
  `barang_id` bigint unsigned NOT NULL,
  `cabang_id` bigint unsigned DEFAULT NULL,
  `lokasi_id` bigint unsigned DEFAULT NULL,
  `barang_masuk_id` bigint unsigned DEFAULT NULL,
  `user_id` bigint unsigned DEFAULT NULL,
  `jumlah` int NOT NULL,
  `tanggal_keluar` date NOT NULL,
  `void_status` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'none',
  `void_reason` text COLLATE utf8mb4_unicode_ci,
  `void_requested_by` bigint unsigned DEFAULT NULL,
  `void_requested_at` timestamp NULL DEFAULT NULL,
  `void_approved_by` bigint unsigned DEFAULT NULL,
  `void_approved_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_barang_keluar`),
  KEY `barang_keluar_void_status_created_at_index` (`void_status`,`created_at`),
  KEY `barang_keluar_barang_id_foreign` (`barang_id`),
  KEY `barang_keluar_cabang_id_foreign` (`cabang_id`),
  KEY `barang_keluar_lokasi_id_foreign` (`lokasi_id`),
  KEY `barang_keluar_barang_masuk_id_foreign` (`barang_masuk_id`),
  KEY `barang_keluar_user_id_foreign` (`user_id`),
  KEY `barang_keluar_void_requested_by_foreign` (`void_requested_by`),
  KEY `barang_keluar_void_approved_by_foreign` (`void_approved_by`),
  CONSTRAINT `barang_keluar_barang_id_foreign` FOREIGN KEY (`barang_id`) REFERENCES `barang` (`id_barang`) ON DELETE CASCADE,
  CONSTRAINT `barang_keluar_barang_masuk_id_foreign` FOREIGN KEY (`barang_masuk_id`) REFERENCES `barang_masuk` (`id_barang_masuk`) ON DELETE SET NULL,
  CONSTRAINT `barang_keluar_cabang_id_foreign` FOREIGN KEY (`cabang_id`) REFERENCES `cabangs` (`id_cabang`) ON DELETE SET NULL,
  CONSTRAINT `barang_keluar_lokasi_id_foreign` FOREIGN KEY (`lokasi_id`) REFERENCES `lokasi_penyimpanans` (`id_lokasi`) ON DELETE SET NULL,
  CONSTRAINT `barang_keluar_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id_user`) ON DELETE SET NULL,
  CONSTRAINT `barang_keluar_void_approved_by_foreign` FOREIGN KEY (`void_approved_by`) REFERENCES `users` (`id_user`) ON DELETE SET NULL,
  CONSTRAINT `barang_keluar_void_requested_by_foreign` FOREIGN KEY (`void_requested_by`) REFERENCES `users` (`id_user`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `barang_keluar`
--

LOCK TABLES `barang_keluar` WRITE;
/*!40000 ALTER TABLE `barang_keluar` DISABLE KEYS */;
/*!40000 ALTER TABLE `barang_keluar` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `barang_masuk`
--

DROP TABLE IF EXISTS `barang_masuk`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `barang_masuk` (
  `id_barang_masuk` bigint unsigned NOT NULL AUTO_INCREMENT,
  `barang_id` bigint unsigned NOT NULL,
  `cabang_id` bigint unsigned DEFAULT NULL,
  `lokasi_id` bigint unsigned DEFAULT NULL,
  `user_id` bigint unsigned DEFAULT NULL,
  `jumlah` int NOT NULL,
  `sumber` enum('manual','sisa_cabang') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'manual',
  `tanggal_masuk` date NOT NULL,
  `void_status` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'none',
  `void_reason` text COLLATE utf8mb4_unicode_ci,
  `void_requested_by` bigint unsigned DEFAULT NULL,
  `void_requested_at` timestamp NULL DEFAULT NULL,
  `void_approved_by` bigint unsigned DEFAULT NULL,
  `void_approved_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_barang_masuk`),
  KEY `barang_masuk_void_status_created_at_index` (`void_status`,`created_at`),
  KEY `barang_masuk_barang_id_foreign` (`barang_id`),
  KEY `barang_masuk_cabang_id_foreign` (`cabang_id`),
  KEY `barang_masuk_lokasi_id_foreign` (`lokasi_id`),
  KEY `barang_masuk_user_id_foreign` (`user_id`),
  KEY `barang_masuk_void_requested_by_foreign` (`void_requested_by`),
  KEY `barang_masuk_void_approved_by_foreign` (`void_approved_by`),
  CONSTRAINT `barang_masuk_barang_id_foreign` FOREIGN KEY (`barang_id`) REFERENCES `barang` (`id_barang`) ON DELETE CASCADE,
  CONSTRAINT `barang_masuk_cabang_id_foreign` FOREIGN KEY (`cabang_id`) REFERENCES `cabangs` (`id_cabang`) ON DELETE SET NULL,
  CONSTRAINT `barang_masuk_lokasi_id_foreign` FOREIGN KEY (`lokasi_id`) REFERENCES `lokasi_penyimpanans` (`id_lokasi`) ON DELETE SET NULL,
  CONSTRAINT `barang_masuk_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id_user`) ON DELETE SET NULL,
  CONSTRAINT `barang_masuk_void_approved_by_foreign` FOREIGN KEY (`void_approved_by`) REFERENCES `users` (`id_user`) ON DELETE SET NULL,
  CONSTRAINT `barang_masuk_void_requested_by_foreign` FOREIGN KEY (`void_requested_by`) REFERENCES `users` (`id_user`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `barang_masuk`
--

LOCK TABLES `barang_masuk` WRITE;
/*!40000 ALTER TABLE `barang_masuk` DISABLE KEYS */;
/*!40000 ALTER TABLE `barang_masuk` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cabang_distribusi_items`
--

DROP TABLE IF EXISTS `cabang_distribusi_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cabang_distribusi_items` (
  `id_cabang_distribusi_item` bigint unsigned NOT NULL AUTO_INCREMENT,
  `cabang_distribusi_id` bigint unsigned NOT NULL,
  `barang_id` bigint unsigned NOT NULL,
  `jumlah_bawa` int unsigned NOT NULL,
  `jumlah_sisa` int unsigned NOT NULL,
  `jumlah_terpakai` int unsigned NOT NULL,
  `barang_keluar_id` bigint unsigned DEFAULT NULL,
  `barang_masuk_id` bigint unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_cabang_distribusi_item`),
  KEY `cabang_distribusi_items_barang_id_created_at_index` (`barang_id`,`created_at`),
  KEY `cabang_distribusi_items_cabang_distribusi_id_foreign` (`cabang_distribusi_id`),
  KEY `cabang_distribusi_items_barang_keluar_id_foreign` (`barang_keluar_id`),
  KEY `cabang_distribusi_items_barang_masuk_id_foreign` (`barang_masuk_id`),
  CONSTRAINT `cabang_distribusi_items_barang_id_foreign` FOREIGN KEY (`barang_id`) REFERENCES `barang` (`id_barang`) ON DELETE CASCADE,
  CONSTRAINT `cabang_distribusi_items_barang_keluar_id_foreign` FOREIGN KEY (`barang_keluar_id`) REFERENCES `barang_keluar` (`id_barang_keluar`) ON DELETE SET NULL,
  CONSTRAINT `cabang_distribusi_items_barang_masuk_id_foreign` FOREIGN KEY (`barang_masuk_id`) REFERENCES `barang_masuk` (`id_barang_masuk`) ON DELETE SET NULL,
  CONSTRAINT `cabang_distribusi_items_cabang_distribusi_id_foreign` FOREIGN KEY (`cabang_distribusi_id`) REFERENCES `cabang_distribusis` (`id_cabang_distribusi`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cabang_distribusi_items`
--

LOCK TABLES `cabang_distribusi_items` WRITE;
/*!40000 ALTER TABLE `cabang_distribusi_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `cabang_distribusi_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cabang_distribusis`
--

DROP TABLE IF EXISTS `cabang_distribusis`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cabang_distribusis` (
  `id_cabang_distribusi` bigint unsigned NOT NULL AUTO_INCREMENT,
  `tanggal` date NOT NULL,
  `cabang_id` bigint unsigned NOT NULL,
  `user_id` bigint unsigned NOT NULL,
  `catatan` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_cabang_distribusi`),
  KEY `cabang_distribusis_tanggal_cabang_id_index` (`tanggal`,`cabang_id`),
  KEY `cabang_distribusis_cabang_id_foreign` (`cabang_id`),
  KEY `cabang_distribusis_user_id_foreign` (`user_id`),
  CONSTRAINT `cabang_distribusis_cabang_id_foreign` FOREIGN KEY (`cabang_id`) REFERENCES `cabangs` (`id_cabang`) ON DELETE CASCADE,
  CONSTRAINT `cabang_distribusis_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id_user`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cabang_distribusis`
--

LOCK TABLES `cabang_distribusis` WRITE;
/*!40000 ALTER TABLE `cabang_distribusis` DISABLE KEYS */;
INSERT INTO `cabang_distribusis` VALUES (1,'2026-05-07',1,2,NULL,'2026-05-07 00:45:45','2026-05-07 00:45:45'),(2,'2026-05-18',1,2,NULL,'2026-05-17 22:42:21','2026-05-17 22:42:21'),(3,'2026-05-18',2,2,NULL,'2026-05-18 03:07:12','2026-05-18 03:07:12'),(4,'2026-05-21',1,2,NULL,'2026-05-21 01:53:13','2026-05-21 01:53:13');
/*!40000 ALTER TABLE `cabang_distribusis` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cabangs`
--

DROP TABLE IF EXISTS `cabangs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cabangs` (
  `id_cabang` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nama_cabang` varchar(120) COLLATE utf8mb4_unicode_ci NOT NULL,
  `kode_cabang` varchar(40) COLLATE utf8mb4_unicode_ci NOT NULL,
  `alamat` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `aktif` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_cabang`),
  UNIQUE KEY `cabangs_nama_cabang_unique` (`nama_cabang`),
  UNIQUE KEY `cabangs_kode_cabang_unique` (`kode_cabang`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cabangs`
--

LOCK TABLES `cabangs` WRITE;
/*!40000 ALTER TABLE `cabangs` DISABLE KEYS */;
/*!40000 ALTER TABLE `cabangs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `failed_jobs`
--

DROP TABLE IF EXISTS `failed_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `failed_jobs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `connection` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `queue` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `payload` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `exception` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `failed_jobs`
--

LOCK TABLES `failed_jobs` WRITE;
/*!40000 ALTER TABLE `failed_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `failed_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lokasi_penyimpanans`
--

DROP TABLE IF EXISTS `lokasi_penyimpanans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lokasi_penyimpanans` (
  `id_lokasi` bigint unsigned NOT NULL AUTO_INCREMENT,
  `cabang_id` bigint unsigned NOT NULL,
  `nama_lokasi` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tipe` enum('gudang','rak','custom') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'custom',
  `deskripsi` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `aktif` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_lokasi`),
  UNIQUE KEY `lokasi_penyimpanans_cabang_id_nama_lokasi_unique` (`cabang_id`,`nama_lokasi`),
  CONSTRAINT `lokasi_penyimpanans_cabang_id_foreign` FOREIGN KEY (`cabang_id`) REFERENCES `cabangs` (`id_cabang`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lokasi_penyimpanans`
--

LOCK TABLES `lokasi_penyimpanans` WRITE;
/*!40000 ALTER TABLE `lokasi_penyimpanans` DISABLE KEYS */;
/*!40000 ALTER TABLE `lokasi_penyimpanans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `migrations` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `batch` int NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=28 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `password_reset_tokens` (
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `token` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personal_access_tokens`
--

DROP TABLE IF EXISTS `personal_access_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `personal_access_tokens` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `tokenable_type` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tokenable_id` bigint unsigned NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `token` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `abilities` text COLLATE utf8mb4_unicode_ci,
  `last_used_at` timestamp NULL DEFAULT NULL,
  `expires_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `personal_access_tokens_token_unique` (`token`),
  KEY `personal_access_tokens_tokenable_type_tokenable_id_index` (`tokenable_type`,`tokenable_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personal_access_tokens`
--

LOCK TABLES `personal_access_tokens` WRITE;
/*!40000 ALTER TABLE `personal_access_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `personal_access_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stok_opnames`
--

DROP TABLE IF EXISTS `stok_opnames`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `stok_opnames` (
  `id_stok_opname` bigint unsigned NOT NULL AUTO_INCREMENT,
  `barang_id` bigint unsigned NOT NULL,
  `user_id` bigint unsigned NOT NULL,
  `tanggal` date NOT NULL,
  `jumlah_fisik` int unsigned NOT NULL,
  `jumlah_sistem` int NOT NULL,
  `selisih` int NOT NULL,
  `status` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_stok_opname`),
  UNIQUE KEY `stok_opnames_barang_id_user_id_tanggal_unique` (`barang_id`,`user_id`,`tanggal`),
  KEY `stok_opnames_tanggal_status_index` (`tanggal`,`status`),
  KEY `stok_opnames_user_id_foreign` (`user_id`),
  CONSTRAINT `stok_opnames_barang_id_foreign` FOREIGN KEY (`barang_id`) REFERENCES `barang` (`id_barang`) ON DELETE CASCADE,
  CONSTRAINT `stok_opnames_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id_user`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stok_opnames`
--

LOCK TABLES `stok_opnames` WRITE;
/*!40000 ALTER TABLE `stok_opnames` DISABLE KEYS */;
/*!40000 ALTER TABLE `stok_opnames` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id_user` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `whatsapp` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `role` enum('owner','karyawan') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'karyawan',
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `password` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `remember_token` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_user`),
  UNIQUE KEY `users_email_unique` (`email`),
  UNIQUE KEY `users_whatsapp_unique` (`whatsapp`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (2,'Karyawan','karyawan@jjc-dimsum.test',NULL,'karyawan',NULL,'$2y$12$zmS1lPIn9O9LAj9wDyfF2OP/OGai3xgv0Ax/aEUDqoIq4NWK/QqMC','wz9PJHnWlwju1W3oV32GzGKBvI9lnfElomn0KAExDA45H2u757eHmegMIdpP','2026-05-03 09:44:57','2026-05-07 00:21:17'),(3,'Owner','issmadamayanti@gmail.com',NULL,'owner',NULL,'$2y$10$t.GxndMhHEJ05SjTFROsgOefFUDE4B7o7QWtCJLbATxtpGZOK/etq',NULL,'2026-05-18 08:26:23','2026-05-18 08:26:23');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-22 16:08:58
